
body{
  font-family: 'Roboto', sans-serif;
}

p{
    font-size: 21px;
}

h1,h2{
  font-weight: 900;
}

h3{
  font-weight: 550;
}

h4{
  font-size: 15px;
}



#sssparagraf{
  font-size: 16px;
  font-weight: 400;
}

.anafoto{
    width: 100%;
}

.anafotoalt{
    font-size: 30px;
    text-align: center;
}

.buttonara{
  background-color: #be2a2a;
  border: none;
  color: white;
  padding: 14px 43px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.buttonara:hover{
 
    background-color: #d12727;
    border: none;
    color: white;
    padding: 14px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
  }

.buttonbuy{
 
    background-color: #27b427;
    border: none;
    color: white;
    padding: 14px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
  }

.buttonbuy:hover{
    
    background-color: #2fbe2f;
    border: none;
    color: white;
    padding: 14px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
  }

.buttonaradiv{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 25px;
}

.bilgisayarfoto{
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
}

.kalin{
  font-weight: 700;
  font-size: 20px;
}

.ince{
  font-size: 16px;
  font-weight: 400;
}

.card{
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-body{
  background-color: #26292c;
  height: 3.6rem;
  border-radius: 0 0 5px 5px;
}

.card-title{
  text-align: center;
  color: #fff;
}
